@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(12, 12, 12);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    
}

p {
    color: white;
}

h1 {
    color: azure;
}

h5 {
    color:  hsl(0, 94%, 57%);
    font-weight: 600;
}

h4 {
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: small;
}

.container {
    width: 400px;
    height: 600px;
    background: #36363650 ;
    border-radius: 13px;
}

.container {
    border-radius: 13px;
}

.container .box .img-reis {
    padding-top: 25px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .box .img-reis img{
    background-repeat: no-repeat;
    height: 110px;
    width: 110px;
    border-radius: 70%; 
    border: 1px solid #ffffff69;
}


#info {
    height: 100px;
    text-align: center;
}

#info h1 {
    padding-bottom: 12px;
}


#info h4 {
    padding-bottom: 1px;
}


#info h5 {
    padding-bottom: 20px;
}

.social {
    list-style-type: none;
    padding: 0;
}

.social li {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.social a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font: bold;
    font-weight: 600;
}


button {
    color: white;
    background-color: rgb(12, 12, 12);
    width: 300px;
    height: 45px;
    border-radius: 10px;
    border:1px solid #ffffff1b; 
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 0, 0);
}

footer {
    padding-top: 15px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #ff000067;
}

footer a:hover {
    color: rgb(255, 0, 0);
}

